// #183153
// $main-color:#183153;
$main-color:#aedfdd;
$second-color:#4785ac;
* {
    box-sizing: border-box;
}

//Golble styles
i {
    color: $main-color;
    font-weight: 600 !important;
    margin: 5px;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    padding: 0;
    li {
        margin: 10px 0;
    }
}

@mixin dflex() {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@mixin radius($dim) {
    border-radius: $dim;
    -webkit-border-radius: $dim;
    -moz-border-radius: $dim;
    -ms-border-radius: $dim;
    -o-border-radius: $dim;
}

@mixin rotate($deg) {
    transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
}

@mixin transition($property, $duration) {
    transition: $property $duration;
    -webkit-transition: $property $duration;
    -moz-transition: $property $duration;
    -ms-transition: $property $duration;
    -o-transition: $property $duration;
}

.container {
    // max-width: 1173px;
    width: 95%;
    margin: 0 auto;
    padding: 15px;
    @include dflex();
}

.page {
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        left: 40px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }
    .my-float {
        margin-top: 16px;
    }
    header {
        .row {
            width: 100%;
            &.contact {
                background-color: #141414;
                border-bottom: 2px solid #646060;
                padding: 0;
            }
            &.header {
                background-color: #1c1917;
                .container {
                    justify-content: space-between;
                    padding: 5px 15px;
                }
                .menu {
                    @include dflex();
                    .phase {
                        width: 30px;
                        height: 30px;
                        padding: 0 4px;
                        cursor: pointer;
                        span {
                            @include dflex();
                            flex-direction: column;
                            width: 100%;
                            height: 2px;
                            background-color: $main-color;
                            margin: 5px 0;
                        }
                    }
                    ul {}
                }
                $dim:40px;
                .logo {
                    a {
                        text-decoration: none;
                        @include dflex();
                    }
                    span {
                        color: $main-color;
                        padding: 0 8px;
                        font-size: 22px;
                    }
                    img {
                        width: $dim;
                        height: $dim;
                    }
                }
            }
            &.home {
                background-image: url("./../img/img\ 1.webp");
                background-repeat: no-repeat;
                background-size: cover;
                height: 84vh;
                position: relative;
                @include transition(background-image,
                0.3s);
                .container {
                    align-items: flex-end;
                    flex-direction: column;
                    height: 100%;
                    color: #fff;
                    position: relative;
                    z-index: 2;
                }
                .opa {
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    opacity: 0.2;
                    position: absolute;
                    z-index: 1;
                }
                h1 {
                    margin-bottom: 3px;
                    font-size: 46px;
                    font-weight: bolder;
                    background-color: #afa5a53b;
                    // border color #0e0c0c
                    border-right: 3px solid $main-color;
                    padding-right: 10px;
                    direction: rtl;
                }
                p {
                    font-size: 24px;
                    font-weight: 400;
                    width: 50%;
                    direction: rtl;
                }
                // .trasiant {
                $dim: 25px;
                .transiant {
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    height: 40px;
                    width: 93px;
                    z-index: 10;
                    transform: translate(-50%, 0);
                    -webkit-transform: translate(-50%, 0);
                    -moz-transform: translate(-50%, 0);
                    -ms-transform: translate(-50%, 0);
                    -o-transform: translate(-50%, 0);
                    span {
                        margin: 0 5px;
                        padding: 0px 8.5px;
                        border: 2px solid #141414;
                        cursor: pointer;
                        @include radius(50%);
                        &.active {
                            background-color: $main-color;
                            // border-color: $main-color;
                        }
                    }
                }
            }
        }
    }
    section {
        >div {
            h2 {
                margin: 25px 0;
                font-size: 28px;
                border-bottom: 5px solid #aedfdd;
                padding: 0 5px;
            }
            .row {
                padding: 25px 0 50px;
                @include dflex();
                justify-content: space-evenly;
                width: 100%;
                flex-wrap: wrap;
            }
        }
        .row.why-us {
            background-color: #141414;
            direction: rtl;
            text-align: center;
            color: #fff;
            .container {
                flex-direction: column;
            }
            .row {
                .col {
                    width: calc((100% - 192px)/3);
                    @include radius(4px);
                    &:hover {
                        box-shadow: 0 0 1px 2px #e5d8d8e3;
                    }
                    &.diamond {
                        --animate-duration: 1s;
                    }
                    &.stopwatch {
                        --animate-duration: 2s;
                    }
                    &.savecost {
                        --animate-duration: 3s;
                    }
                    .card {
                        padding: 10px;
                        border: 2px solid #aedfdd;
                        @include radius(4px);
                        overflow: hidden;
                        height: 315px;
                        display: flex;
                        flex-direction: column;
                        gap: 0 10px;
                        $dim: 75px;
                        .icon {
                            width: 130px;
                            height: 130px;
                            @include dflex();
                            margin: 0 auto;
                            &.stopwatch,
                            &.savecost {
                                img {
                                    width: calc($dim + 50px);
                                    height: calc($dim + 50px);
                                }
                            }
                            img {
                                width: $dim;
                                height: $dim;
                            }
                        }
                        h3 {
                            color: $main-color;
                            font-size: 22px;
                            margin: 18px 0;
                        }
                        p {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .row.sevices {
            background-color: #f1f1f1;
            padding-bottom: 75px;
            .container {
                flex-direction: column;
                h2 {
                    border-bottom-color: $second-color;
                }
            }
            .row {
                @include dflex();
                padding: 20px 0;
                justify-content: space-around;
                direction: rtl;
                align-items: flex-start;
                .col {
                    width: calc((100% - 60px)/3);
                    margin: 20px 0;
                    text-align: center;
                    @include dflex();
                    flex-direction: column;
                    justify-content: normal;
                    height: fit-content;
                    h3 {
                        font-size: 22px;
                    }
                    p {
                        font-size: 22px;
                        margin: 5px 0;
                        color: #4785ac;
                    }
                    .iconBox {
                        .icon {
                            width: 120px;
                        }
                    }
                }
            }
        }
        .row.contact {
            direction: rtl;
            position: relative;
            background-image: url("./../img/contactBg.jpg");
            // color: $second-color;
            .container {
                .row {
                    justify-content: flex-start;
                    .imgBox {
                        position: absolute;
                        top: -130px;
                        right: 0;
                        margin: 0 50px;
                        img {
                            width: 330px;
                            height: 460px;
                        }
                    }
                    .contact {
                        margin-right: 325px;
                        margin-top: 50px;
                        h1 {
                            margin: 0 0 40px;
                        }
                        h4 {
                            font-size: 20px;
                        }
                        a.tell {
                            text-decoration: none;
                            padding: 12px 18px;
                            background-color: #00ab00;
                            color: #000;
                            @include radius(8px);
                            border: none;
                            font-size: 20px;
                            font-weight: 700;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    footer {
        direction: rtl;
        background-color: #141414;
        color: #fff;
        a {
            color: #fff;
        }
        .row {
            h3 {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -8px;
                    right: 0;
                    width: 40%;
                    height: 4px;
                    background-color: $main-color;
                    // border-bottom: 2px solid $main-color;
                }
            }
            ul {
                margin: 30px 8px;
            }
            p,
            li {
                font-weight: 600;
            }
            .container {
                align-items: flex-start;
                justify-content: space-evenly;
                .col {
                    width: calc((100% - 180px) / 3);
                }
                .logo {
                    img {
                        width: 125px;
                    }
                }
                i {
                    width: 35px;
                    height: 35px;
                    border: 2px solid;
                    font-size: 22px;
                    padding: 5px;
                    border-radius: 4px;
                    text-align: center;
                }
            }
        }
        .row.design {
            border-top: 2px solid #646060;
            .container {
                direction: ltr;
                align-items: center;
                a {
                    color: $second-color;
                    &:hover {
                        color: $main-color
                    }
                }
                i {
                    &:hover {
                        background-color: #fff;
                        color: $second-color;
                    }
                }
            }
        }
    }
}