* {
  box-sizing: border-box;
}

i {
  color: #aedfdd;
  font-weight: 600 !important;
  margin: 5px;
  font-size: 22px;
}

.container {
  width: 95%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.page header .row {
  width: 100%;
}
.page header .row.contact {
  background-color: #141414;
  border-bottom: 2px solid #646060;
}
.page header .row.header {
  background-color: #1c1917;
}
.page header .row.header .container {
  justify-content: space-between;
}
.page header .row.header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.page header .row.header .menu .phase {
  width: 30px;
  height: 30px;
  padding: 0 4px;
  cursor: pointer;
}
.page header .row.header .menu .phase span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  width: 100%;
  height: 2px;
  background-color: #aedfdd;
  margin: 5px 0;
}
.page header .row.header .logo a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.page header .row.header .logo span {
  color: #aedfdd;
  padding: 0 8px;
  font-size: 22px;
}
.page header .row.header .logo img {
  width: 40px;
  height: 40px;
}
.page header .row.home {
  background-image: url("./../img/img 1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 84vh;
  position: relative;
  transition: background-image 0.3s;
  -webkit-transition: background-image 0.3s;
  -moz-transition: background-image 0.3s;
  -ms-transition: background-image 0.3s;
  -o-transition: background-image 0.3s;
}
.page header .row.home .container {
  align-items: flex-end;
  flex-direction: column;
  height: 100%;
  color: #fff;
  position: relative;
  z-index: 2;
}
.page header .row.home .opa {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
  position: absolute;
  z-index: 1;
}
.page header .row.home h1 {
  margin-bottom: 3px;
  font-size: 46px;
  font-weight: bolder;
  background-color: rgba(175, 165, 165, 0.231372549);
  border-right: 3px solid #aedfdd;
  padding-right: 10px;
  direction: rtl;
}
.page header .row.home p {
  font-size: 24px;
  font-weight: 400;
  width: 50%;
  direction: rtl;
}
.page header .row.home .transiant {
  position: absolute;
  bottom: 20px;
  left: 50%;
  height: 30px;
  width: 93px;
  z-index: 10;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
.page header .row.home .transiant span {
  margin: 0 5px;
  padding: 0px 8.5px;
  border: 2px solid #141414;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.page header .row.home .transiant span.active {
  background-color: #aedfdd;
}
.page section > div h2 {
  margin: 25px 0;
  font-size: 28px;
  border-bottom: 5px solid #aedfdd;
  padding: 0 5px;
}
.page section > div .row {
  padding: 25px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}
.page section .row.why-us {
  background-color: #141414;
  direction: rtl;
  text-align: center;
  color: #fff;
}
.page section .row.why-us .container {
  flex-direction: column;
}
.page section .row.why-us .row .col {
  width: calc((100% - 192px) / 3);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.page section .row.why-us .row .col:hover {
  box-shadow: 0 0 1px 2px rgba(229, 216, 216, 0.8901960784);
}
.page section .row.why-us .row .col.diamond {
  --animate-duration: 1s;
}
.page section .row.why-us .row .col.stopwatch {
  --animate-duration: 2s;
}
.page section .row.why-us .row .col.savecost {
  --animate-duration: 3s;
}
.page section .row.why-us .row .col .card {
  padding: 10px;
  border: 2px solid #aedfdd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  overflow: hidden;
  height: 315px;
  display: flex;
  flex-direction: column;
  gap: 0 10px;
}
.page section .row.why-us .row .col .card .icon {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
}
.page section .row.why-us .row .col .card .icon.stopwatch img, .page section .row.why-us .row .col .card .icon.savecost img {
  width: 125px;
  height: 125px;
}
.page section .row.why-us .row .col .card .icon img {
  width: 75px;
  height: 75px;
}
.page section .row.why-us .row .col .card h3 {
  color: #aedfdd;
  font-size: 22px;
  margin: 18px 0;
}
.page section .row.why-us .row .col .card p {
  font-size: 18px;
}
.page section .row.sevices {
  background-color: #f1f1f1;
}
.page section .row.sevices .container {
  flex-direction: column;
}
.page section .row.sevices .container h2 {
  border-bottom-color: #4785ac;
}
.page section .row.sevices .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px 0;
  justify-content: space-around;
  direction: rtl;
  align-items: flex-start;
}
.page section .row.sevices .row .col {
  width: calc((100% - 60px) / 3);
  margin: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  justify-content: normal;
  height: -moz-fit-content;
  height: fit-content;
}
.page section .row.sevices .row .col h3 {
  font-size: 22px;
}
.page section .row.sevices .row .col p {
  font-size: 22px;
  margin: 5px 0;
  color: #4785ac;
}
.page section .row.sevices .row .col .iconBox .icon {
  width: 120px;
}/*# sourceMappingURL=main.css.map */