.row.contact {
    .container {
        .row {
            .left {
                .imgBox {
                    img {}
                }
            }
            .right {
                h2 {}
                h4 {}
                button.tell {}
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .page header .row.home h1 {
        font-size: 42px;
    }
    .page section .row.why-us {
        padding: 25px;
        .row {
            flex-direction: column;
            .col {
                width: 100%;
                margin-bottom: 50px;
            }
        }
    }
    .page section .row.sevices {
        .row {
            .col {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 420px) and (max-width: 768px) {
    .page section .row.why-us {
        padding: 25px;
        .row {
            .col {
                width: 45%;
                margin-bottom: 50px;
            }
        }
    }
    .page section .row.sevices {
        .row {
            .col {
                width: calc((100% - 60px) / 2);
            }
        }
    }
}

@media (min-width: 576px) {}

@media (max-width: 768px) {
    .page header .row.home p {
        width: 100%;
        text-align: center;
    }
}

// .row.sevices {
//     .container {
//         h2 {}
//     }
//     .row {
//         .col {
//             width: calc((100% - 60px)/3);
//             h3 {
//                 font-size: 22px;
//             }
//             p {
//                 font-size: 22px;
//                 margin: 5px 0;
//             }
//             .iconBox {
//                 .icon {
//                     width: 75px;
//                 }
//             }
//         }
//     }
// }
// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) and (max-width: 992px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}